<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="serviceProxyPoolSettings" type="ESQ.Infrastructure.Services.App.ServiceProxyPoolConfiguration, ESQ.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="retryOnExceptionConfiguration" type="ESQ.Infrastructure.Services.App.RetryConfiguration, ESQ.Infrastructure.Services.App, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="ResourceSection" type="Resources.BaseServices.Configuration.ResourceSettings, BaseServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowLocation="true"/>
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\Log\CD\Service\ServiceTraces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=IMSN;User Id=sa;Password=quovantis;Connect Timeout=600"/>
    <!--<add name="ConnectionString" connectionString="Data Source=192.168.1.116;Initial Catalog=SSTOB;User Id=sa;Password=admin@123;Connect Timeout=600" />-->
  </connectionStrings>
  <appSettings>
    <add key="UsePTConnectionStrings" value="true"/>
    <add key="WorkflowDefinition" value="Workflow.config.xml"/>
    <add key="BackgroundWorkflowDefinition" value="BackgroundWorkflow.config.xml"/>
    <add key="RepositoryConfiguration" value="Repository.config.xml"/>
    <add key="Log4NetRelativePath" value="config.log4net"/>
    <add key="log4net.Config" value="log4net.config"/>
    <!--<add key="AuthorizationServiceRemoteProxy" value="true"/>-->
    <!--<add key="RBACConnectionString" value="Data Source=192.168.1.118;Initial Catalog=RBAC;User Id=sa;Password=sql2008;Connect Timeout=600" />-->
    <!--<add key="RBACConnectionString" value="Data Source=192.168.1.96;Initial Catalog=DEV_RBAC_HDRBAC;User Id=dev;Password=dvlp123!@#;Connect Timeout=600" />-->
    <add key="RBACConnectionString" value="Data Source=.;Initial Catalog=RBAC;User Id=sa;Password=quovantis;Connect Timeout=600"/>
    <!--<add key="RBACConnectionString" value="Data Source=192.168.1.116;Initial Catalog=RBAC;User Id=sa;Password=admin@123;Connect Timeout=600" />-->
    <!-- <add key="CustomAtmDataQuery" value="Select AtmKey, TermId, AtmCity, ATMRegion, BranchNo, AtmVendor From CUSTOMATMDATA (NOLOCK)"/>-->
    <!--<add key="CustomAtmDataQuery" value="Select AtmKey, TermId, [ATM_CITY] as 'AtmCity', Circle, Branch, [ATM_MAKE] as 'AtmMake' From CUSTOMATMDATA (NOLOCK)"/>-->
    <!--<add key="CustomAtmDataQuery" value="select [RecordTime] as 'RecordTime',[AtmKey] as AtmKey, [Latitude] as 'Latitude'
                   ,[Longitude] as 'Longitude',[AC_MAKE] as 'AcMake',[ADMIN_DIS_DATE] as 'AdminDisDate' 
                   ,[ADMIN_POD] as 'AdminPod',[ATM_CASH_DISPENCER] as 'AtmCashDispanser'
                   ,[ATM_CONTROL_CELL] as 'AtmControlCell' ,[ATM_DISTRICT] as 'AtmDistrict',[ATM_IP] as 'AtmIp' 
                   ,[ATM_LOC_CODE] as 'AtmLocCode',[ATM_MAKE] as 'AtmMake' ,[ATM_NAME] as 'AtmName'
                   ,[ATM_ONSITE] as 'AtmOnSite',[ATM_PIN_CODE]  as 'AtmPinCode',[ATM_STATE] as 'AtmState'
                   ,[ATM_VSAT_IP] as 'AtmVsatIp',[CEN_POP_CATEGORY] as 'CenPopCategory',[CIRCLE_HEADQNATERS] as 'CircleHeadQuarts',[CNRRENT_STATNS]  as 'CurrentStatus'
                   ,[NPS_MAKE] as 'NpsMake',[OPERATINALISATION_DATE] as 'OperationAnalyzationDate', [PRIMARY_ATM_ID] as 'PrimaryAtmId'
                   ,[P_P_TEAMS_REMARKS] as 'PpTeamsRemarks' ,[RBI_REPORTING_DATE] as 'RbiReportingDate' ,[RECORD_ADD_DATE] as 'RecordAddDate'
                   ,[RECORD_NPDATED_DATE] as 'RecordNpDatedDate',[SAME_LOC_CODE] as 'SameLocCode',[SAME_LOC_FLG] as 'SameLocFlag'
                   ,[SOL_ID]  as 'SolId',[SRNO] as 'Srno' ,[TMKEYS_DIS_DATE] as 'TmKeysDisDate' ,[TMKEYS_DOCKET_NO] as 'TmKeysDocketNo'
                   ,[TMKEYS_POD] as 'TmKeysPod', [VSAT_SIDE_CODE] as 'VsatSideCode' ,[VSAT_VENDOR] as 'VsatVendor' ,[VSAT_ID] as 'VsatId' 
                   ,[VSAT_MAKE] as 'VsatMake',[ZONE] as 'Zone',[ESQCURSTATUS] as 'EsqCurStatus',[PRIZMSTATUS] as 'PrizmStatus' 
                   ,[AC_AMC_AGREEMENT_EXPIRY] as 'AcAmcAgreementExpiry',[AC_AMC_VENDOR] as 'AcAmcVendor',[AC_YEAR_PURCHASE] as 'AcYearPurchase'
                   ,[ATM_AMC_EXPIRY] as 'AtmAmcExpiry' ,[ATM_AMC_VENDOR_SLM]  as 'AtmAmcVendorSlm',[ATM_MODEL] as 'AtmModel'
                   ,[ATM_REMARKS] as 'AtmRemarks',[BASE_BRANCH_CONTACT] as 'BaseBranchContact',[BATTERY_LAST_REPLACED]  as 'BaterryLastReplaced'
                   ,[BATTERY_MAKE] as 'BaterryMake',[CAMERA_AVAIL] as 'CameraAvail',[CAPTIVE] as 'Captive'
                   ,[CARETAKER_SECURITY_AGENCY] as 'CareTakerSecurityAgancy' ,[CIRCLE]  as 'Circle', [CRA_AGREEMENT_EXPIRY] as 'CraAgrementExpiry'
                   ,[CRA_NAME] as 'CraName',[DENOM_TYPE] as 'DenomType',[DIP_MOT] as 'DipMot',[DOTM_THERM_PRINTER] as 'DotmThermPrinter'
                   ,[MOBILE] as 'Mobile',[LASTWITHDRAWALTRANSTIME] as 'LastWithDrawalTransTime',[SITEACCESS] as 'SiteAccess'
                   ,[UPSMAKE] as 'UpsMake' ,[UPSSERIAL]  as 'UpsSerial',[UPSINSTALLDATE] as 'UpsInstallDate',[NUMBATTERYUPS] as 'UpsNumBattery'
                   ,[BATTERYMAKE] as 'BatteryMake',[BATTERYLASTREPLACED] as 'BatteryLastReplaced',[UPSAMCVENDOR]  as 'UpsAmcVendor'
                   ,[UPSAMCAGREEMENTEXPIRY] as 'UpsAgreementExpiry' ,[STABILIZERAVAIL] as 'StabilizerVail'
                   ,[NUMACUNIT] as 'NumAcUnit',[HOUSEKEEPINGAGENCY] as 'HouseKeepingAgency',[HOUSEKEEPINGAGENCYCONTACT] as 'HouseKeepingAgencyContact'
                   ,[HOUSEKEEPINGAMCAGREEMENTEXP]  as 'HouseKeepingAmcAgreementExpiry',[CARETAKERSECURITYCONTACT]  as 'CareTakerSecurityContact'
                   ,[CARETAKERSECURITYAMCEXPIRY] as 'CareTakerSecurityAmcExpiry',[Nodal_Cell] as 'NodalCell',[CIT] as 'Cit',[Nodel_CELL] as 'NodelCell'
                   ,[MSVENDOR] as 'MsVendor',[CASHLIVEDATE] as 'CashLiveDate',[TECHLIVEDATE] as 'TechLiveDate',[BAND] as 'Band' 
                   ,[Branch] as 'Branch',[VendorCashLiveDate] as 'VendorCashLiveDate',[VendorTechLiveDate] as 'VendorTechLiveDate'
                   ,[ESQCURSTATUSBK] as 'EsqCurStatusBk',[CASHLIVEDATEBK]  as 'CashLiveDateBk',[TECHLIVEDATEBK]  as 'TechLiveDateBk'
                   ,[ATM_TYPE] as 'AtmType',[ATM_CITY] as 'AtmCity',[IADVendor] as 'IadVendor',[MSVendorBK] as 'MsVendorBk'
                   ,[RETIREDDATE] as 'RetiredDate',[SITEID] as 'SiteId',[MSPDATE] as 'MspDate',[suspendstartdate] as 'SuspendStartDate'
                   ,[suspendenddate] as 'SuspendDate',[remark] as 'Remark',[PersonInCharge] as 'PersonInCharge'
                   ,[AvlTerminalType] as 'AvlTerminalType' 
                   ,[SiteType] as 'SiteType'
                   FROM [dbo].[customatmdata]"/>-->
    <add key="CustomAtmDataQuery" value="Select AtmKey, TermId as 'TermId', SiteType as 'SiteType' From CUSTOMATMDATA (NOLOCK)"/>
    <add key="AuthorizeGroupRoleSelectQuery" value="select 'Internal Bank Group' as GroupRole"/>
    <add key="AssignedPartyQuery" value="select distinct GroupId , GroupRole, disp.address as AssignedParty from USERGROUPDEFS join (select address from DEV_Dispatcher_HD_WO_RBAC.contact.contact, DEV_Dispatcher_HD_WO_RBAC.contact.contact_address_type where DEV_Dispatcher_HD_WO_RBAC.contact.contact_address_type.id=contact.address_type and type = 'QUEUE TO HD') disp on (disp.address = USERGROUPDEFS.Name) where GroupRole is not null And USERGROUPDEFS.Application = 'IMS' order by AssignedParty"/>
    <add key="DataProvider_GetPartyList" value="select PartyTab.id as PartyId, PartyTab.code as Code, PartyTab.name as PartyName, PartyTab.type as Type from DEV_Dispatcher_HD_WO_RBAC.contact.party (NOLOCK) as PartyTab"/>
    <add key="DispTimeInLCT" value="1"/>
    <add key="HelpDeskAttachmentsFolderPath" value="c:\esq\attachments\"/>
    <add key="HelpDeskAttachmentsTempFolderPath" value="c:\esq\attachments\temp\"/>
    <add key="DateTimeControlFormatString" value="dd/MM/yyyy HH:mm:ss"/>
    <add key="TimeEditFormatString" value="dd/MM/yyyy HH:mm:ss"/>
    <add key="DateControlFormatString" value="dd/MM/yyyy HH:mm:ss"/>
    <add key="GlobalDateFormat" value="dd/MM/yyyy"/>
    <add key="GlobalTimeFormat" value="HH:mm:ss"/>
    <add key="DataProvider_GetTerminalSets" value="SELECT NAME as Name, AtmSetId, SQL  FROM ATMSETDEFS (NOLOCK) inner join perm(NOLOCK) on (perm.objectId = ATMSETDEFS.atmsetid and perm.userId = {0} and objecttype=1 AND RVIEW=1)"/>
    <add key="ShowClosedIncidentForHelpdeskGrid" value="true"/>
    <add key="WebMessageHandler_Username" value="IMSAdmin"/>
    <add key="PreventiveMaintenancePolicyName" value="ATM.Preventive Maintenance.Preventive Maintenance"/>
    <add key="IsRBACModeOn" value="false"/>
    <add key="RBAC.Main.ApplicationName" value="IMS"/>
    <add key="SparePartsListEnabled" value="true"/>
    <add key="ShowBlackListedTerminals" value="true"/>
    <add key="BulkImportExport.Key.FDS" value="FDS"/>
    <add key="BulkImportExport.Key.IncidentBrowser" value="IncidentStatusPriority"/>
    <add key="BulkImportExport.Key.ScheduledIncident" value="ScheduleIncident"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <globalization uiCulture="en-GB" culture="en-GB"/>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime maxRequestLength="1048576" executionTimeout="150" maxQueryStringLength="66384"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="CD.Service.CDService" behaviorConfiguration="CDServiceBehavior">
        <host>
          <baseAddresses>
            <!--<add baseAddress="net.tcp://localhost:19099/HelpDeskService.svc"/>-->
            <add baseAddress="net.tcp://localhost:19088/CDService.svc"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding" contract="CD.Infrastructure.Services.App.ICDService"/>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding" contract="CD.Infrastructure.Services.App.IAuthorizationService"/>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="CD.WebApiService.CDWebApiService" behaviorConfiguration="CDWebApiServiceBehavior">
        <host>
          <baseAddresses>
            <!--<add baseAddress="http://localhost:82/CDWebApiService.svc"/>-->
            <add baseAddress="http://localhost:82/CDWebApiService.svc"/>
          </baseAddresses>
        </host>
        <!-- <endpoint address=""
                  binding="webHttpBinding"
                  contract="HelpDesk.Infrastructure.Services.App.IHelpDeskWebService"
                  behaviorConfiguration="HelpDeskWebBehavior"/>-->
        <endpoint address="" kind="webHttpEndpoint" contract="CD.Infrastructure.Services.App.ICDWebApiService" endpointConfiguration="CDWebEndPoint"/>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="CDWebEndPoint" helpEnabled="true" automaticFormatSelectionEnabled="true" faultExceptionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
    <client>
      <!--<endpoint name="HelpDeskAuthorizationService" address="net.tcp://localhost:19098/AuthorizationService.svc"
               binding="netTcpBinding" bindingConfiguration="NetTcpBinding" contract="HelpDesk.Infrastructure.Services.App.IAuthorizationService" />-->
      <!--<endpoint name="HelpDeskAuthorizationService" address="net.tcp://192.168.1.149:19098/AuthorizationService.svc"
               binding="netTcpBinding" bindingConfiguration="NetTcpBinding" contract="HelpDesk.Infrastructure.Services.App.IAuthorizationService" />-->
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding" maxReceivedMessageSize="2147483647" receiveTimeout="00:30" sendTimeout="00:30">
          <readerQuotas maxStringContentLength="81920" maxArrayLength="20971520"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <!-- <endpointBehaviors>
        <behavior name="HelpDeskWebBehavior" >
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <webHttp/>
        </behavior >
      </endpointBehaviors>-->
      <serviceBehaviors>
        <behavior name="CDServiceBehavior">
          <CDBehaviorExtension/>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="CDWebApiServiceBehavior">
          <CDWebApiBehaviorExtension/>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <extensions>
      <behaviorExtensions>
        <add name="CDBehaviorExtension" type="CD.Service.CDBehaviorExtensionElement, CD.Service, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        <add name="CDWebApiBehaviorExtension" type="CD.WebApiService.CDWebApiBehaviorExtensionElement, CD.WebApiService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <retryOnExceptionConfiguration>
    <policies>
      <add name="serviceProxyPolicy">
        <!--<exceptions>
          <add type="System.ServiceModel.Security.SecurityNegotiationException, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               retryCount="1" />
        </exceptions>-->
      </add>
    </policies>
  </retryOnExceptionConfiguration>
  <serviceProxyPoolSettings poolSize="50"/>
  <ResourceSection>
    <ResourceManager defaultCulture="en-US" caseSensitiveForwardLookup="true" caseSensitiveReverseLookup="true">
      <ResourceTypes>
        <add type="System.String"/>
      </ResourceTypes>
      <ResourceLoaders defaultLoaderType="Resources.BaseServices.Globalization.ADONETStringResourceLoader, BusinessObjects, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" defaultConnectionStringName="ConnectionString"/>
    </ResourceManager>
  </ResourceSection>
</configuration>