<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="serviceProxyPoolSettings" type="ESQ.Infrastructure.Services.App.ServiceProxyPoolConfiguration, ESQ.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="retryOnExceptionConfiguration" type="ESQ.Infrastructure.Services.App.RetryConfiguration, ESQ.Infrastructure.Services.App, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="ResourceSection" type="Resources.BaseServices.Configuration.ResourceSettings, BaseServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowLocation="true"/>
  </configSections>
  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
      </source>
    </sources>
  </system.diagnostics>
  
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=SSTOB;User Id=sa;Password=quovantis;Connect Timeout=600;"/>
  </connectionStrings>
  
  <appSettings>

    <add key="UsePTConnectionStrings" value="true"/>
 
    <!--<add key="IsRBACModeOn" value="false"/>-->
    <add key="IsRBACModeOn" value="true"/>
   
    <add key="ShowBlackListedTerminals" value="true"/>
  </appSettings>
  
  <!--<system.web>
    <globalization uiCulture="en-GB" culture="en-GB"/>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="1048576" executionTimeout="150" maxQueryStringLength="66384"/>
  </system.web>-->
  
  <system.serviceModel>
    <services>
      <service name="CD.Service.CDService" behaviorConfiguration="CDServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:19088/HelpDeskService.svc"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding" contract="CD.Infrastructure.Services.App.ICDService"/>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding" contract="CD.Infrastructure.Services.App.IAuthorizationService"/>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="CD.WebApiService.CDWebApiService" behaviorConfiguration="CDWebApiServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:88/CDWebApiService.svc"/>
          </baseAddresses>
        </host>
        <!-- <endpoint address=""
                  binding="webHttpBinding"
                  contract="HelpDesk.Infrastructure.Services.App.IHelpDeskWebService"
                  behaviorConfiguration="HelpDeskWebBehavior"/>-->
        <endpoint address="" kind="webHttpEndpoint" contract="CD.Infrastructure.Services.App.ICDWebApiService" endpointConfiguration="CDWebEndPoint"/>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="CDWebEndPoint" helpEnabled="true" automaticFormatSelectionEnabled="true" faultExceptionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
    <client>
      <endpoint name="CDAuthorizationService" address="net.tcp://localhost:19097/AuthorizationService.svc"
               binding="netTcpBinding" bindingConfiguration="NetTcpBinding" contract="CD.Infrastructure.Services.App.IAuthorizationService"/>
      <!--<endpoint name="HelpDeskAuthorizationService" address="net.tcp://192.168.1.149:19095/AuthorizationService.svc"
               binding="netTcpBinding" bindingConfiguration="NetTcpBinding" contract="HelpDesk.Infrastructure.Services.App.IAuthorizationService" />-->
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding" maxReceivedMessageSize="2147483647" receiveTimeout="00:50" sendTimeout="00:50">
          <readerQuotas maxStringContentLength="1081920" maxArrayLength="20971520"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <!-- <endpointBehaviors>
        <behavior name="HelpDeskWebBehavior" >
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <webHttp/>
        </behavior >
      </endpointBehaviors>-->
      <serviceBehaviors>
        <behavior name="CDServiceBehavior">
          <CDBehaviorExtension/>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="CDWebApiServiceBehavior">
          <CDWebApiBehaviorExtension/>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <extensions>
      <behaviorExtensions>
        <add name="CDBehaviorExtension" type="CD.Service.CDBehaviorExtensionElement, CD.Service, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        <add name="CDWebApiBehaviorExtension" type="CD.WebApiService.CDWebApiBehaviorExtensionElement, CD.WebApiService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  
  <retryOnExceptionConfiguration>
    <policies>
      <add name="serviceProxyPolicy">
        <!--<exceptions>
          <add type="System.ServiceModel.Security.SecurityNegotiationException, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               retryCount="1" />
        </exceptions>-->
      </add>
    </policies>
  </retryOnExceptionConfiguration>
  
  <serviceProxyPoolSettings poolSize="50"/>

  <ResourceSection>
    <ResourceManager defaultCulture="en-US" caseSensitiveForwardLookup="true" caseSensitiveReverseLookup="true">
      <ResourceTypes>
        <add type="System.String"/>
      </ResourceTypes>
      <ResourceLoaders defaultLoaderType="Resources.BaseServices.Globalization.ADONETStringResourceLoader, BusinessObjects, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" defaultConnectionStringName="ConnectionString">
      </ResourceLoaders>
    </ResourceManager>
  </ResourceSection>

</configuration>